/*Inserta tu css aqui*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
p{
	margin:0;
}
.row{
	margin:0;
}
[class*="col-"]{
	padding: 0;
	height: 0 auto;
}
.clear{
	overflow: hidden;
}
.clear-both{
	clear: both;
}
body {
	background-color: ;
}
header{
	background-color: #009688;
	height: 19vh;
	width: 100%;	
}
.container{
	position: relative;
	top:-110px;	
	box-shadow: 0px 0.5px 5px gray;
}
.container img{
	border-radius: 50%;
	height: 6vh;
	width: 6vh;	
	overflow: hidden;
	margin: 0px 12px 0 0px;
}
.col-md-4 .one, 
.col-md-8 .two{
	background-color:#EEEEEE;
	padding:2%;
	border-bottom: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
}
.col-md-4 .message{
	height: 505px;
}
.col-md-8 .two{
	padding:1.1%;
}
.col-md-4 .one div:nth-child(2) {
	padding: 2%;	
}
.col-md-8 .two div:nth-child(3){
	padding: 1% 2%;
}
.col-md-4 .one-two, 
.col-md-4 .one-three{
	background-color: white;	
}
.col-md-4 .one-three{
	padding: 2% 3%;
}
.col-md-4 .one-two{
	padding: 3% 4%;
	position: relative;
}
.col-md-4 .one-two span{
	position: absolute;
	padding: 2.5%;
}
.col-md-4 .one-two input{
	width: 100%;
	padding: 1.5% 0% 1% 10%;
}
.col-md-4 .one-three{
	border-top:1px solid #D0D0D0;
}
.scroll {
	overflow-y: scroll;	
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px white; 
	background: white;
}
::-webkit-scrollbar-thumb {
	background: #CBCBCB; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: white; 
}
.two-two{
	background: #EBE6E0 url("../image/chat-panel-bg.png");
	height: 505px;
	padding:3% 4% 0% 3%;
}
.col-md-4 .one-three div:nth-child(2) p{
	padding-left: 4%;
}
.col-md-4 .one-three div:nth-child(2) p:nth-child(1){
	padding-bottom: 5%;
}
.one div span, 
.two div span{
	color:#747474;
	font-size: 20px;
}
.col-md-8 .two div:nth-child(2) p:nth-child(2), 
.message .one-three div:nth-child(2) span:nth-child(2),
.message .one-three div:nth-child(3) span,
.two-two{
	color:#868686;
	font-size: 12px;
}
.message .one-three div:nth-child(2) span:nth-child(1){
	margin-bottom: 2%;
}
.two-two .chat1 p:nth-child(3),
.two-two .chat2 p:nth-child(2){
	text-align: right;
	font-size: 10px;
}
.two-two .chat1 {
	max-width: 45%;
	background: white;
}
.two-two .chat2 {
	max-width: 100%;
	background: #DCF8C6;
}
.two-two .chat1, 
.two-two .chat2 {
	border-radius: 8px;
	padding:1% 1% 0% 2%;
	margin-bottom:0.25%;
}
.two-three{
	background-color: #F2F0EE;
	padding: 0.9%;
}
.two-three input{
	width: 88%;
	padding: 1% 0% 0.5% 1%;	
}
.col-md-4 .one-two input,  
.two-three input{
	border-radius: 5px;
	border: 1px solid #F0F0F0;
	font-size: 12px;
}
.text-right{
	text-align: right;
}
.color-1{
	color:#6BC7EF;
}
.color-2{
	color:#EC53A0;
}
.color-3{
	color:#3ACF9B;
}
.color-4{
	color:#E0B60F;
}
.two-three div {
    padding: 0% 1.5% 0% 0%;
    font-size: 25px;
}
.col-md-4 .one-two span, 
.two-three div span{
    color:#AAA9A6;
}