/*Inserta tu css aqui*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1
}
p{
	margin:0;
}
.row{
	margin:0;
}
[class*="col-"]{
	padding: 0;
}
.clear{
	overflow: hidden;
}
body {
	background-color: #DFDFDF
}
header{
	background-color: #009688;
	height: 19vh;
	width: 100%;	
}
.container{
	position: relative;
	top:-110px;	
}
.container img{
	border-radius: 50%;
	height: 5vh;
	width: 5vh;	
	overflow: hidden;
}
.row .col-md-4 .one, 
.row .col-md-8 .two{
	background-color:#EEEEEE;
	padding:2%;
	border-bottom: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
}
.row .col-md-8 .two{
	padding:1.1%;
}
.row .col-md-4 .one div:nth-child(2) {
	padding: 2%;	
}
.row .col-md-4 .one div:nth-child(2), 
.row .col-md-8 .two div:nth-child(3), 
.row .col-md-4 .one-three div:nth-child(3){
	float:right;		
}
.row .col-md-8 .two div:nth-child(3){
	padding: 1% 2%;
}
.row .col-md-8 .two img, 
.row .col-md-8 .two div:nth-child(2), 
.row .col-md-4 .one-three img, 
.row .col-md-4 .one-three div:nth-child(2){
	float: left;
}
.row .col-md-4 .one-two, 
.row .col-md-4 .one-three{
	background-color: white;	
}
.row .col-md-4 .one-three{
	height: 60px;
	padding: 3%;
}
.row .col-md-4 .one-two{
	padding: 3% 4%;
	position: relative;
}
.row .col-md-4 .one-two span{
	position: absolute;
	padding: 3%;
}
.row .col-md-4 .one-two input{
	width: 100%;
	padding: 3% 0% 2% 10%;
	border-radius: 5px;
	border: 1px solid #DEDEDE;
}
.row .col-md-4 .one-three{
	border-top:1px solid #D0D0D0;
}
.scroll {
	overflow-y: scroll;
	height: 530px;	
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #CCCCCC; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: white; 
}
.two-two{
	background: #EBE6E0 url("../image/chat-panel-bg.png");
	height: 535px;
	padding:3% 0% 0% 3%;
}

.row .col-md-4 .one-three div:nth-child(2) p{
	padding-left: 4%;
}
.row .col-md-4 .one-three div:nth-child(2) p:nth-child(2){
	font-size: 14px;
	color:#B8B9B9;
}

.row .col-md-4 .one-three div:nth-child(2) p:nth-child(1){
	padding-bottom: 5%;
}

.two-two div:nth-child(1) p:nth-child(3) {
		text-align: right;
}
.two-two div:nth-child(1) {
		float: left;
		width: 45%;
		height: 0 auto;
		background: white;
		border-radius: 8px;
		padding:2% 1% 0% 2%;
}



























